USE [master]
GO
/****** Object:  Database [DBSIBEM]    Script Date: 1/30/2021 6:06:01 PM ******/
CREATE DATABASE [DBSIBEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSIBEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBSIBEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBSIBEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBSIBEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSIBEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSIBEM]
GO
/****** Object:  Table [dbo].[dtlnotulensi]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dtlnotulensi](
	[idnotulensi] [int] NOT NULL,
	[idanggota] [int] NOT NULL,
	[keterangan] [varchar](max) NULL,
 CONSTRAINT [PK_dtlnotulensi] PRIMARY KEY CLUSTERED 
(
	[idnotulensi] ASC,
	[idanggota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msanggotabem]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msanggotabem](
	[idanggota] [int] IDENTITY(1,1) NOT NULL,
	[iddepartemen] [int] NULL,
	[idjabatan] [int] NULL,
	[idperiode] [int] NULL,
	[nama] [varchar](50) NULL,
	[nim] [varchar](10) NULL,
	[alamat] [varchar](100) NULL,
	[no_telp] [varchar](15) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](20) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
	[foto] [text] NULL,
 CONSTRAINT [PK_msanggotabem] PRIMARY KEY CLUSTERED 
(
	[idanggota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msdepartemen]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msdepartemen](
	[iddepartemen] [int] IDENTITY(1,1) NOT NULL,
	[namadepartemen] [varchar](50) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_msdepartemen] PRIMARY KEY CLUSTERED 
(
	[iddepartemen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msformatksk]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msformatksk](
	[idftksk] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
	[dataBerkas] [varchar](max) NULL,
 CONSTRAINT [PK_msformatksk] PRIMARY KEY CLUSTERED 
(
	[idftksk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msjabatan]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msjabatan](
	[idjabatan] [int] IDENTITY(1,1) NOT NULL,
	[idukm_hima] [int] NULL,
	[namajabatan] [varchar](50) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_msjabatan] PRIMARY KEY CLUSTERED 
(
	[idjabatan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msnews]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msnews](
	[idnews] [int] IDENTITY(1,1) NOT NULL,
	[judul] [varchar](100) NULL,
	[preview] [varchar](max) NULL,
	[deskripsi] [varchar](max) NULL,
	[gambar] [varchar](max) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_msnews] PRIMARY KEY CLUSTERED 
(
	[idnews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msperiode]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msperiode](
	[idperiode] [int] IDENTITY(1,1) NOT NULL,
	[tahunperiode] [varchar](10) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_msperiode] PRIMARY KEY CLUSTERED 
(
	[idperiode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msukm_hima]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msukm_hima](
	[idukm_hima] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_msukm_hima] PRIMARY KEY CLUSTERED 
(
	[idukm_hima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trkas]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trkas](
	[idkas] [int] IDENTITY(1,1) NOT NULL,
	[idanggota] [int] NULL,
	[nominal] [int] NULL,
	[jeniskas] [varchar](50) NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_trkas] PRIMARY KEY CLUSTERED 
(
	[idkas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trlaporanksk]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trlaporanksk](
	[idlpksk] [int] IDENTITY(1,1) NOT NULL,
	[idukm_hima] [int] NULL,
	[namaberkas] [varchar](50) NULL,
	[keterangan] [varchar](max) NULL,
	[status] [int] NULL,
	[komentar] [varchar](max) NULL,
	[tglpresent] [datetime] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_trlaporanksk] PRIMARY KEY CLUSTERED 
(
	[idlpksk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trnotulensi]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trnotulensi](
	[idnotulensi] [int] IDENTITY(1,1) NOT NULL,
	[idrapat] [int] NULL,
	[jmlhadir] [int] NULL,
	[notulensi] [varchar](max) NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_trnotulensi] PRIMARY KEY CLUSTERED 
(
	[idnotulensi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trpengajuandana]    Script Date: 1/30/2021 6:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trpengajuandana](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idanggota] [int] NULL,
	[event] [varchar](max) NULL,
	[tujuan] [varchar](max) NULL,
	[jumlah] [int] NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [date] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [date] NULL,
	[kepada] [varchar](50) NULL,
 CONSTRAINT [PK_trpengajuandana] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trrapat]    Script Date: 1/30/2021 6:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trrapat](
	[idrapat] [int] IDENTITY(1,1) NOT NULL,
	[iddepartemen] [int] NULL,
	[judulrapat] [varchar](50) NULL,
	[tglrapat] [datetime] NULL,
	[status] [int] NULL,
	[creaby] [varchar](50) NULL,
	[creadate] [datetime] NULL,
	[modiby] [varchar](50) NULL,
	[modidate] [datetime] NULL,
 CONSTRAINT [PK_trrapat] PRIMARY KEY CLUSTERED 
(
	[idrapat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[msanggotabem] ON 

INSERT [dbo].[msanggotabem] ([idanggota], [iddepartemen], [idjabatan], [idperiode], [nama], [nim], [alamat], [no_telp], [email], [password], [status], [creaby], [creadate], [modiby], [modidate], [foto]) VALUES (1, 1, 1, 3, N'Muhamad Ivan Firmansyah', N'0320190018', N'pemalang, jateng', N'085702348073', N'muhivanfirmansyah@gmail.com', N'polman', 1, N'bambang', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'Muhamad Ivan Firmansyah', CAST(N'2021-01-30T18:04:35.340' AS DateTime), N'~/SaveImage/1396986552van.jpg')
INSERT [dbo].[msanggotabem] ([idanggota], [iddepartemen], [idjabatan], [idperiode], [nama], [nim], [alamat], [no_telp], [email], [password], [status], [creaby], [creadate], [modiby], [modidate], [foto]) VALUES (2, 1, 3, 2, N'daryanto', N'0320190022', N'Jakarta', N'082322320234', N'firmadf2@gmail.com', N'IWAIUNJC', 1, N'muhmad ivan', CAST(N'2021-01-18T17:11:08.373' AS DateTime), N'muhamad ivan firmansyah', CAST(N'2021-01-27T14:07:03.303' AS DateTime), N'~/SaveImage/917956557bph phoenix.jpg')
INSERT [dbo].[msanggotabem] ([idanggota], [iddepartemen], [idjabatan], [idperiode], [nama], [nim], [alamat], [no_telp], [email], [password], [status], [creaby], [creadate], [modiby], [modidate], [foto]) VALUES (3, 2, 7, 3, N'Romi Muhyiddin dds', N'0220190026', N'Pekalongan okelah', N'082322320234', N'romi.omera07@gmail.com', N'fghfghcgh', 1, N'dfgdh', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhmad ivan', CAST(N'2021-01-18T21:21:55.857' AS DateTime), N'~/SaveImage/917956557bph phoenix.jpg')
SET IDENTITY_INSERT [dbo].[msanggotabem] OFF
SET IDENTITY_INSERT [dbo].[msdepartemen] ON 

INSERT [dbo].[msdepartemen] ([iddepartemen], [namadepartemen], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (1, N'BPH UMUM', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan firmansyah', CAST(N'2021-01-19T12:15:31.083' AS DateTime))
INSERT [dbo].[msdepartemen] ([iddepartemen], [namadepartemen], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (2, N'Sosial dan Pengabdian Masyarakat', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
INSERT [dbo].[msdepartemen] ([iddepartemen], [namadepartemen], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (3, N'Teknokasi Informasi dan Komunikasi', 1, N'muhamad ivan firmansyah', CAST(N'2021-01-19T11:51:41.310' AS DateTime), N'Muhamad Ivan', CAST(N'2021-01-30T05:22:54.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[msdepartemen] OFF
SET IDENTITY_INSERT [dbo].[msformatksk] ON 

INSERT [dbo].[msformatksk] ([idftksk], [nama], [status], [creaby], [creadate], [modiby], [modidate], [dataBerkas]) VALUES (3, N'LPJ KEUANGAN 12', 1, N'samodra', CAST(N'2021-01-25T02:22:24.207' AS DateTime), N'muhamad ivan firmansyah', CAST(N'2021-01-26T14:06:20.913' AS DateTime), N'FORMAT LPJ Keuangan BARU.xls')
INSERT [dbo].[msformatksk] ([idftksk], [nama], [status], [creaby], [creadate], [modiby], [modidate], [dataBerkas]) VALUES (4, N'LPJ KESEKRETARIATAN', 1, N'samodra', CAST(N'2021-01-25T02:22:44.710' AS DateTime), N'samodra', CAST(N'2021-01-25T02:22:44.710' AS DateTime), N'FORMAT OSP BARU B. Indo 1920.xls')
INSERT [dbo].[msformatksk] ([idftksk], [nama], [status], [creaby], [creadate], [modiby], [modidate], [dataBerkas]) VALUES (5, N'Gergaji', 0, N'muhamad ivan firmansyah', CAST(N'2021-01-26T11:39:37.787' AS DateTime), NULL, NULL, N'023 Undangan Kepala Departemen Kemahasiswaan dan Ikatan Alumni.docx')
SET IDENTITY_INSERT [dbo].[msformatksk] OFF
SET IDENTITY_INSERT [dbo].[msjabatan] ON 

INSERT [dbo].[msjabatan] ([idjabatan], [idukm_hima], [namajabatan], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (1, 0, N'Admin', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan firmansyah', CAST(N'2021-01-25T00:54:47.053' AS DateTime))
INSERT [dbo].[msjabatan] ([idjabatan], [idukm_hima], [namajabatan], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (2, 0, N'Presiden BEM', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan firmansyah', CAST(N'2021-01-25T00:54:54.283' AS DateTime))
INSERT [dbo].[msjabatan] ([idjabatan], [idukm_hima], [namajabatan], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (3, 0, N'Wakil Presiden BEM', 2, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[msjabatan] OFF
SET IDENTITY_INSERT [dbo].[msnews] ON 

SET IDENTITY_INSERT [dbo].[msnews] OFF
SET IDENTITY_INSERT [dbo].[msperiode] ON 

INSERT [dbo].[msperiode] ([idperiode], [tahunperiode], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (1, N'2017/2018', 0, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
INSERT [dbo].[msperiode] ([idperiode], [tahunperiode], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (2, N'2018/2019', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
INSERT [dbo].[msperiode] ([idperiode], [tahunperiode], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (3, N'2019/2020', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[msperiode] OFF
SET IDENTITY_INSERT [dbo].[msukm_hima] ON 

INSERT [dbo].[msukm_hima] ([idukm_hima], [nama], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (0, N'Tidak Ada', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
INSERT [dbo].[msukm_hima] ([idukm_hima], [nama], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (1, N'Pembuatan Peralatan dan Perkakas Produksi', 1, N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'muhamad ivan', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
INSERT [dbo].[msukm_hima] ([idukm_hima], [nama], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (2, N'Teknik Produksi dan Proses Manufaktur', 1, N'pujiati', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'pujiati', CAST(N'2021-01-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[msukm_hima] OFF
SET IDENTITY_INSERT [dbo].[trkas] ON 

INSERT [dbo].[trkas] ([idkas], [idanggota], [nominal], [jeniskas], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (1, 8, 100000, N'BEM', 3, N'dgdfhdfh', CAST(N'2021-01-25T18:35:58.930' AS DateTime), NULL, CAST(N'2021-01-26T23:54:29.000' AS DateTime))
INSERT [dbo].[trkas] ([idkas], [idanggota], [nominal], [jeniskas], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (2, 8, 10000, N'Departemen', 3, N'dgdfhdfh', CAST(N'2021-01-25T18:54:21.957' AS DateTime), NULL, CAST(N'2021-01-26T23:05:54.573' AS DateTime))
INSERT [dbo].[trkas] ([idkas], [idanggota], [nominal], [jeniskas], [status], [creaby], [creadate], [modiby], [modidate]) VALUES (3, 8, 10000, N'BEM', 1, N'dgdfhdfh', CAST(N'2021-01-25T19:05:39.157' AS DateTime), N'M Rizky Maulana', CAST(N'2021-01-26T06:44:07.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[trkas] OFF
SET IDENTITY_INSERT [dbo].[trlaporanksk] ON 

INSERT [dbo].[trlaporanksk] ([idlpksk], [idukm_hima], [namaberkas], [keterangan], [status], [komentar], [tglpresent], [creaby], [creadate], [modiby], [modidate]) VALUES (1, 6, N'FORMAT LPJ Keuangan BARU.xls', N'OSP', 1, N'-', CAST(N'2021-01-25T00:00:00.000' AS DateTime), N'samodra', CAST(N'2021-01-25T03:00:23.187' AS DateTime), N'samodra', CAST(N'2021-01-25T03:00:23.187' AS DateTime))
INSERT [dbo].[trlaporanksk] ([idlpksk], [idukm_hima], [namaberkas], [keterangan], [status], [komentar], [tglpresent], [creaby], [creadate], [modiby], [modidate]) VALUES (2, 0, N'OSP OH MPM 2020.xlsx', N'OSP', 4, N'-', NULL, N'samodra', CAST(N'2021-01-25T07:38:12.433' AS DateTime), N'aditya', CAST(N'2021-01-25T09:43:41.630' AS DateTime))
INSERT [dbo].[trlaporanksk] ([idlpksk], [idukm_hima], [namaberkas], [keterangan], [status], [komentar], [tglpresent], [creaby], [creadate], [modiby], [modidate]) VALUES (3, 6, N'OSP OH MPM 2020.xlsx', N'OSP', 6, N'-', CAST(N'2021-01-25T00:00:00.000' AS DateTime), N'samodra', CAST(N'2021-01-25T08:24:44.937' AS DateTime), N'M Rizky Maulana', CAST(N'2021-01-27T17:44:05.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[trlaporanksk] OFF
SET IDENTITY_INSERT [dbo].[trpengajuandana] ON 

INSERT [dbo].[trpengajuandana] ([id], [idanggota], [event], [tujuan], [jumlah], [status], [creaby], [creadate], [modiby], [modidate], [kepada]) VALUES (1, 1, N'Holiday', N'keperluan holiday', 1000000, 3, N'Pujiati', CAST(N'2021-01-27' AS Date), N'aditya', NULL, N'BEM')
INSERT [dbo].[trpengajuandana] ([id], [idanggota], [event], [tujuan], [jumlah], [status], [creaby], [creadate], [modiby], [modidate], [kepada]) VALUES (2, 7, N'Makrab', N'Untuk membeli bola pantai', 10000, 0, N'Shifa habibah anl', CAST(N'2021-01-27' AS Date), N'Shifa habibah anl', CAST(N'2021-01-27' AS Date), N'Departemen')
INSERT [dbo].[trpengajuandana] ([id], [idanggota], [event], [tujuan], [jumlah], [status], [creaby], [creadate], [modiby], [modidate], [kepada]) VALUES (3, 8, N'Makrab', N'Untuk membeli bola pantai', 10000, 4, N'M Rizky Maulana', CAST(N'2021-01-27' AS Date), N'aditya', CAST(N'2021-01-28' AS Date), N'BEM')
SET IDENTITY_INSERT [dbo].[trpengajuandana] OFF
ALTER TABLE [dbo].[dtlnotulensi]  WITH CHECK ADD  CONSTRAINT [FK_dtlnotulensi_msanggotabem] FOREIGN KEY([idanggota])
REFERENCES [dbo].[msanggotabem] ([idanggota])
GO
ALTER TABLE [dbo].[dtlnotulensi] CHECK CONSTRAINT [FK_dtlnotulensi_msanggotabem]
GO
ALTER TABLE [dbo].[dtlnotulensi]  WITH CHECK ADD  CONSTRAINT [FK_dtlnotulensi_trnotulensi] FOREIGN KEY([idnotulensi])
REFERENCES [dbo].[trnotulensi] ([idnotulensi])
GO
ALTER TABLE [dbo].[dtlnotulensi] CHECK CONSTRAINT [FK_dtlnotulensi_trnotulensi]
GO
ALTER TABLE [dbo].[msanggotabem]  WITH CHECK ADD  CONSTRAINT [FK_msanggotabem_msdepartemen] FOREIGN KEY([iddepartemen])
REFERENCES [dbo].[msdepartemen] ([iddepartemen])
GO
ALTER TABLE [dbo].[msanggotabem] CHECK CONSTRAINT [FK_msanggotabem_msdepartemen]
GO
ALTER TABLE [dbo].[msanggotabem]  WITH CHECK ADD  CONSTRAINT [FK_msanggotabem_msjabatan] FOREIGN KEY([idjabatan])
REFERENCES [dbo].[msjabatan] ([idjabatan])
GO
ALTER TABLE [dbo].[msanggotabem] CHECK CONSTRAINT [FK_msanggotabem_msjabatan]
GO
ALTER TABLE [dbo].[msanggotabem]  WITH CHECK ADD  CONSTRAINT [FK_msanggotabem_msperiode] FOREIGN KEY([idperiode])
REFERENCES [dbo].[msperiode] ([idperiode])
GO
ALTER TABLE [dbo].[msanggotabem] CHECK CONSTRAINT [FK_msanggotabem_msperiode]
GO
ALTER TABLE [dbo].[msjabatan]  WITH CHECK ADD  CONSTRAINT [FK_msjabatan_msukm_hima] FOREIGN KEY([idukm_hima])
REFERENCES [dbo].[msukm_hima] ([idukm_hima])
GO
ALTER TABLE [dbo].[msjabatan] CHECK CONSTRAINT [FK_msjabatan_msukm_hima]
GO
ALTER TABLE [dbo].[trkas]  WITH CHECK ADD  CONSTRAINT [FK_trkas_msanggotabem] FOREIGN KEY([idanggota])
REFERENCES [dbo].[msanggotabem] ([idanggota])
GO
ALTER TABLE [dbo].[trkas] CHECK CONSTRAINT [FK_trkas_msanggotabem]
GO
ALTER TABLE [dbo].[trlaporanksk]  WITH CHECK ADD  CONSTRAINT [FK_trlaporanksk_msukm_hima] FOREIGN KEY([idukm_hima])
REFERENCES [dbo].[msukm_hima] ([idukm_hima])
GO
ALTER TABLE [dbo].[trlaporanksk] CHECK CONSTRAINT [FK_trlaporanksk_msukm_hima]
GO
ALTER TABLE [dbo].[trnotulensi]  WITH CHECK ADD  CONSTRAINT [FK_trnotulensi_trrapat] FOREIGN KEY([idrapat])
REFERENCES [dbo].[trrapat] ([idrapat])
GO
ALTER TABLE [dbo].[trnotulensi] CHECK CONSTRAINT [FK_trnotulensi_trrapat]
GO
ALTER TABLE [dbo].[trpengajuandana]  WITH CHECK ADD  CONSTRAINT [FK_trpengajuandana_msanggotabem] FOREIGN KEY([idanggota])
REFERENCES [dbo].[msanggotabem] ([idanggota])
GO
ALTER TABLE [dbo].[trpengajuandana] CHECK CONSTRAINT [FK_trpengajuandana_msanggotabem]
GO
ALTER TABLE [dbo].[trrapat]  WITH CHECK ADD  CONSTRAINT [FK_trrapat_msdepartemen] FOREIGN KEY([iddepartemen])
REFERENCES [dbo].[msdepartemen] ([iddepartemen])
GO
ALTER TABLE [dbo].[trrapat] CHECK CONSTRAINT [FK_trrapat_msdepartemen]
GO
USE [master]
GO
