<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/theme/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/jquery-ui.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Picture/Logo_BEM.png" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <style type="text/css">
        table {

        }
        th {
            height: 30px;
            text-align: center;
            font-size: 18px;
            vertical-align: top;
            background-color: #1E90FF;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
        <script type="text/javascript">
            tinymce.init({ selector: 'textarea', width: 500 });
        </script>*@
    <script src="~/Content/theme/jquery-1.12.4.min.js"></script>
    <script src="~/Content/theme/bootstrap.min.js"></script>
    <script src="~/Content/theme/jquery.validate.min.js"></script>
    <script src="~/Content/theme/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/theme/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/theme/notify.min.js"></script>
    <script src="~/Scripts/jquery.priceformat.min.js"></script>

    <script>
        $('.priceformat').priceFormat({
            prefix: 'Rp',
            centsLimit: 0,
            thousandsSeparator: '.'
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>