<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Picture/Logo_BEM.png" />
    <link href="~/Content/polman/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/polman/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/polman/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/polman/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/polman/Style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../Picture/IMG_Background.jpg'); background-repeat: no-repeat; background-size: cover;">
    @RenderBody()

    <script src="~/Content/polman/bootstrap-select.min.js"></script>
        <script src="~/Content/polman/bootstrap.min.js"></script>
        <script src="~/Content/polman/exporting.js"></script>
        <script src="~/Content/polman/highcharts-more.js"></script>
        <script src="~/Content/polman/highcharts.js"></script>
        <script src="~/Content/polman/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Content/polman/jquery.3.2.1.min.js"></script>
        <script src="~/Content/polman/jquery.fancybox.pack.js"></script>
        <script src="~/Content/polman/jquery.floatThead.js"></script>
        <script src="~/Content/polman/LetterAvatar.js"></script>
        <script src="~/Content/polman/solid-gauge.js"></script>
        <script src="~/Content/polman/tether.min.js"></script>
        <script src="~/Content/polman/tinymce.min.js"></script>
        <script src="~/Scripts/tether.min.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/tinymce.min.js"></script>
        <script src="~/Scripts/jquery.fancybox.pack.js"></script>
        <script src="~/Scripts/bootstrap-select.min.js"></script>
        <link href="~/Content/designtable.css" rel="stylesheet" />
        <script src="~/Content/theme/designtablejava.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

